/* To provide icon with standard look */
.icon-wrapper {
    width: 30px; 
    height: 30px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 4px; 
    position: relative; 
}

.custom-icon {
    width: 90%; 
    height: 90%; 
    position: absolute; 
}

/* lightning card styling */
.custom-card-border {
    border: 1px solid #d8dde6; 
    border-radius: 0.25rem; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
}

/* Styling for each row of object */
.row-item {
    display: flex;             
    align-items: center;       
    margin-bottom: 0.5rem;     
}

.row-item lightning-icon {
    margin-right: 0.5rem;      
}

li {
    list-style-type: none;      
                
}

/* header of the main component */
.header-box {
    background-color: #f2f2f3;
    border-top: 1px solid #d8d8d8; 
    border-bottom: 1px solid #d8d8d8;
    
    padding: 10px; 
    margin-bottom: 10px;
    
}


 .link-style {
    color: #0070d2; 
    text-decoration: underline; 
    cursor: pointer; 
}

