
/* For data table */

.datatable {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%; 
}

.datatable-header {
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 10px;
    display: flex; 
}

.datatable-header li {
    flex: 1; 
    text-align: left; 
    padding: 5px; 
}

.datatable-body {
   padding-top: .5rem;
}

.datatable-body li {
    border-bottom: 1px solid #ddd;
  
    display: flex; 
}

.datatable-body li:last-child {
    border-bottom: none;
}

/* applying uniform look to both datatable header as well as body */
.datatable-body span,
.datatable-header span {
    flex: 1; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    padding: 2px; 
}
/* applying uniform look to first column - header + body */
.datatable-body .narrow-column,
.datatable-header .narrow-column 
 {
    flex: 0 0 3.125rem;  
    width: 3.125rem; 
}

/* Row styling */

.row-item {
    display: flex;              
    align-items: center;  
    padding-left: 1rem;     
}

.row-item lightning-icon {
    margin-right: 0.5rem;      
}

.ellipsis {
    white-space: nowrap;         /* Prevent text from wrapping */
    overflow: hidden;            /* Hide the overflow */
    text-overflow: ellipsis;     /* Show ellipsis for overflow */
}

.first-column{
    width: 4rem;
}

/* icon styling */

.custom-icon {
    width: 90%; 
    height: 90%; 
    position: absolute; 
}

.icon-wrapper {
    width: 30px; 
    height: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 4px; 
    /* position: relative;  */
}

li {
    list-style-type: none;     
    margin: 0;                 
    padding: 0;                 
}
.icon-header {
    width: 40px;
    text-align: center; 
}

